name = "worker-domain-monitoring"
main = "src/index.ts"
compatibility_date = "2024-09-23"

[vars]
MAILERSEND_API_URL = "https://api.mailersend.com/v1/email"
NOTIFICATION_FROM_EMAIL = "whois@amb1.io"
NOTIFICATION_FROM_NAME = "Domain Alert"
FIXED_RECIPIENT_EMAIL = "rhamses.soares@gmail.com"
WEB_PUSH_VAPID_PUBLIC_KEY = ""
WEB_PUSH_VAPID_PRIVATE_KEY = ""
WEB_PUSH_VAPID_SUBJECT = "mailto:alerts@example.com"
WEB_PUSH_TTL_SECONDS = "2419200"

[[d1_databases]]
binding = "domain_monitor"
database_name = "domain-monitor"
database_id = "8b21eb9b-08fb-47e5-889c-cd2a68181e0b"
migrations_dir = "migrations"

[triggers]
crons = ["0 6 * * *"]

[env.dev.triggers]
crons = ["0 * * * *"]

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true